@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poiretOne.woff2");
  src: local('Poiret One'), local('PoiretOne-Regular'), url(../fonts/poiretOne.woff2) format('woff2');
}

@font-face {
    font-family: 'Josefin Slab';
    font-style: normal;
    font-weight: 400;
    /*src: local('Josefin Slab'), local('JosefinSlab'), url(../fonts/josefinslab.woff2) format('woff2');*/
    src: local('Josefin Slab'), local('JosefinSlab'), url(../fonts/josefinslab.woff) format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(../fonts/roboto.woff2)  format('woff2');
}

@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: local('Dosis Regular'), local('Dosis-Regular'), url(../fonts/dosis.woff2) format('woff2');
}

@font-face {
  font-family: 'Quattrocento Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Quattrocento Sans'), local('QuattrocentoSans'), url(../fonts/quatt.woff2) format('woff2');
}