/*body {
	background-color: white;
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important;
}*/

.navbar{
	/*font-size: 17px;*/
	margin-bottom: 0px;
	border-radius: 0px;
	/*font-weight: normal;*/
}
.width-100-pr {
	width: 100%;
}

.bg-default {
	background-color: #008cba;
	color: white;
}

.bg-whitesmoke {
	background-color: whitesmoke;
}

.portada {
	background-image: url("../resource/portada2.jpg");
  	height: 400px;
	background-size: cover;
}

.title {
	font-weight: normal;
	font-size: 50px;
	color: darkslategray;
	margin: 10px;
	bottom: 20px;
}

.subtitle {
	font-size: 25px;
  	margin: 0px 15px 0px 15px;
  	font-weight: bolder;
}

.div-info {
  padding: 20px;
  /* background-color: #E1E1E1; */
  font-size: 17px;
  /* height: auto; */
  color: grey;
}

.img-front {
	max-width: 200px;
	float: left;
}

.fn-size-17px{
	font-size: 17px;
}

.page-header {
	border: 0px;
}

.navbar-inverse{
	background-color: #EC003A;
	/*border-color: #EC003A;*/
	border:0px;
}

.navbar-inverse .navbar-nav>li>a:hover, 
.navbar-inverse .navbar-nav>li>a:active, 
.navbar-inverse .navbar-nav>li>a:focus {
	background-color: #4A4B4D;
}

.max-width-400-px {
	max-width: 400px;
}

.new-box, .program-box {

    border: 1px solid lightgray;
    overflow-y: auto;
    padding: 10px;
    margin: 10px 0px 10px 0px;
    background-color: whitesmoke;
  	font-size: 17px;
	color: #292929;
	font-weight: lighter;
}

.new-box > img {
  	width: 150px;
  	height: 150px;
  	background-size: cover;
  	float: left;
  	margin-right: 40px;
}

.new-box > h4 {
	font-weight: bolder
}


.footer {
	min-height: 55px;
	padding-top: 5px;
	border: 1px solid darkgrey;
    bottom: 0;
  	width: 100%;
  	position: fixed;
}

.line {
	border-right: 1px solid darkgrey;
}

.program-box > h4{
	font-weight: bolder
}

.program-box > img {
  	width: 150px;
  	height: 150px;
  	background-size: cover;
  	float: left;
  	margin-right: 40px;
}

.no-padding {
	padding: 0;
}

.program-box > h5 {
	font-weight: bolder;
  	color: darkred;
  	font-size: 17px;
}

.padding-20-0{
	padding: 20px 0px;
}

.padding-bottom-100-px{
	padding-bottom: 100px;
}