html,body {
    height: 100%;
    font-family: 'Josefin Slab' !important;
    background-color: white;
}

/*#body {
    font-family: 'Roboto' !important;
}*/

.cursor-pointer{
    cursor: pointer;
}

.main-div {
    margin-top: 51px;
    height: 100%;
}

.bg-color-ws{
    background-color: white;
}

.full-height {
    height: 100%;
}

.div-list-data  > label {
    font-weight: normal;
}

.div-list-data > .title {
    font-weight: 700;
}

.width-50por{
    width: 50%;
}

.bg-success{
    background-color: #5cb85c;
}

.color-b{
    color: black;
}

.color-b:hover{
    color: grey;
}

#headerwrap {
    /*background: url(../resource/portada.gif) no-repeat center top;*/
    margin-top: -50px;
    /*padding-top:120px;*/
    text-align:center;
    background-attachment: fixed;
    background-position: center center;
    min-height: 400px;
    width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    background-color: #E1E1E1;
}

#headerwrap h1 {
    color:#ffffff;
    margin-top: 90px;
    padding-bottom: 30px;
    letter-spacing: 8px;
    font-size: 100px;
    font-weight: bold;
    text-shadow: 2px 2px 2px #000;
}

#headerwrap p {
    color:#ffffff;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    line-height: 40px;
    letter-spacing: 3px;
    margin-left: 15px;
    text-shadow: 1px 1px 1px #000;
}


.padding-right-100{
    padding-right: 100px;
}



/**
 * Barra de navegación
 */
.navbar-default{
    background-color: firebrick;
    color: white;
    border:0;
    border-radius: 0;
    /*box-shadow: 1px 7px 10px #888888;*/
}

.navbar-default .navbar-nav>.active>a{
    color:white;
    font-size: 15px;
    background-color: darkred;
}


.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>.active>a:focus {
    color: white; 
    background-color: darkred;
}

.navbar-default .navbar-nav>li>a {
    color:white;
    font-size: 15px;
    background-color: inherit;
}

.navbar-default .navbar-nav>li>a:hover {
    color:white;
    font-size: 15px;
    background-color: darkred;
}

/**
 *
 */

.p-present{
    font-size: 22px;
}


.bg-grey{
    background-color: #E1E1E1;
}

.height-100-p {
    height: 100%;
}
.title {
    color: black;
}

.title_r {
    color: firebrick;
}

.sub-title {
    color: #292929;
    font-style: italic;
}

.font-size-50{
    font-size: 50px;
}

.font-size-24{
    font-size: 24px;
}

.color-white {
    color:white;
}

.font-size-100{
    font-size: 100px;
}

.font-size-18{
    font-size: 18px;
    font-weight: bold;
}

.color-darkcyan{
    color: darkcyan;
}
.color-chocolate{
    color: chocolate;
}

.color-cornflowerblue{
    color: cornflowerblue;
}

.separator{
    color: chocolate;
    height: 0px;
    border:1px dashed;
    width: 90%;
}

.color-grey {
    color: grey;
}

.text-justify {
    text-align: justify;
}

.navbar-bottom {
    /*margin-top: 20px;*/
    background-color: black;
    min-height: 50px;
    color: white;
    bottom: 0px;
    position: fixed;
    width: 100%;
    padding: 10px 0px;
}

.navbar-bottom > div > a {
    color: orange;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.navbar-bottom > div > a:hover {
    color: chocolate;
}

.width-20p {
    width: 17px;
}

.max-width-50por{
    max-width: 50%;
}

.label-news{
    font-size: 30px;
    font-weight: 100;
    color: darkred;
}

.div-news{
    background-color: #fcf8e3;
    box-shadow: 8px 8px 42px -10px;
    padding: 20px;
    margin-top: 25px;
}

.p-news{
    font-size: 18px;
    color: black;
}

.width-full{
    width: 100%;
}

/* Listas en la pantalla de horarios */
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus, .list-group-item:hover, .list-group-item:focus{
    border:chocolate;
    background-color: chocolate;
}

.color-darkred{
    color: darkred;
}

.maps-shadows{
    box-shadow: 5px 6px 27px -8px;
}

.btn-menu{
    font-size: 17px;
    background-color: transparent;
}

.btn-menu:hover,.btn-menu:active, .btn-menu:focus, .btn-menu-active {
    background-color: firebrick;
    color: white;
}

.table-hover > tbody > tr > td{
    cursor: pointer;
}

.modal-content-inter {
    padding: 50px;
}

.font-bold{
    font-weight: bold;
}