<label>Portada actual</label> <br/>
<label class="info">Nota: al cambiarla, automáticamente se guardará</label>
<div class="div-spacer-small"></div>
<div class="portada" style='background-image: url("services/files/files/portada3.jpg");' id="portada">
    <div class="container">
        <div class="page-header">
        </div>
    </div>
</div>
<div class="div-spacer-small"></div>
<span class="btn btn-primary fileinput-button">
    <input id="fileupload" type="file" name="files[]">
</span>
<div class="div-spacer-small"></div>
<div id="progress" class="progress">
    <br/><br/>
    <div class="progress-bar progress-bar-success"></div>
</div>
<script>
$( document ).ready(function() {
    $('#fileupload').fileupload({
        url: 'services/files/',
        dataType: 'json',
        done: function (e, data) {
            $.each(data.result.files, function (index, file) {
                $('#portada').attr('style','background-image: url("' + __IMAGE__URL__ + file.name + '");')
            });
            $('#progress .progress-bar').css(
                    'width',
                    0 + '%'
                );
        },
        progressall: function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            if(progress > 0 && progress < 100){
                $('#progress .progress-bar').show();
                $('#progress .progress-bar').css(
                    'width',
                    progress + '%'
                );
            } else {
                 $('#progress .progress-bar').hide();
            }
            
        },
        error: function(e,data){
            
        }
    }); 
});
</script>