<div class="modal-content">
    <div class="modal-content-inter"> 
        <form role="form" action="index.php" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label>Título</label>
                <input type="text" class="form-control" placeholder="Título de la noticia" required ng-model="data.title">
            </div>

            <div class="form-group">
                <label>Foto</label>
                <input id="fileupload" type="file" name="files[]" class="form-control">
            </div>
            <div class="form-group">
                <label>Archivo subido</label>
                <ul id="files"></ul>
            </div>

            <div class="form-group">
                <label>Descripción</label>
                <textarea class="form-control" rows="20" ng-model="data.description"></textarea>
            </div>
            <hr class="separator">  
            <button type="button" class="btn btn-warning" ng-click="uploadNew()">Agregar</button>
        </form>
    </div>
</div>





<!-- JavaScript used to call the fileupload widget to upload files -->
<script>
    // When the server is ready...
    $(function () {
        'use strict';

        // Define the url to send the image data to
        var url = 'services/files/files.php';

        // Call the fileupload widget and set some parameters
        $('#fileupload').fileupload({
            url: url,
            dataType: 'json',
            done: function (e, data) {
                document.getElementById('files').innerHTML = "";
                // Add each uploaded file name to the #files list
                $.each(data.result.files, function (index, file) {
                    $('<li/>').text(file.name).appendTo('#files');
                });
            },
            progressall: function (e, data) {
                // Update the progress bar while files are being uploaded
                console.log(e);
                console.log(data);
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('#progress .bar').css(
                        'width',
                        progress + '%'
                        );
            }
        });
    });

</script>
