<div class="modal-content">
    <div class="modal-content-inter">
        <form role="form">

            <div class="form-group">
                <label>Contraseña Actual</label>
                <input type="password" class="form-control" placeholder="Mi super contraseña" ng-model="data.oldPass">
            </div>

            <hr class="separator">

            <div class="form-group">
                <label>Nueva Contraseña</label>
                <input type="password" class="form-control" placeholder="Mi super nueva contraseña"  ng-model="data.newPass">
            </div>

            <div class="form-group">
                <label>Repetir Contraseña</label>
                <input type="password" class="form-control" placeholder="Mi super nueva contraseña... Otra vez"  ng-model="data.newPass2">
            </div>
            <hr class="separator">  
            <button type="button" class="btn btn-warning" ng-click="changePassword()">Cambiar</button>
        </form>
    </div>
</div>