<div class="modal-content">
    <div class="modal-content-inter">
        <form role="form" action="index.php" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label>Título</label> <br>
                <label class="color-darkred"> <b>{{ data.title }} </b></label> <br>
                <label class="color-darkred"> <b>{{ data.time }}</b> </label>
            </div>

            <div class="form-group">
                <label>Foto</label> <br>
                <img ng-show="data.url != null && data.url.length > 0" class="width-full" ng-src="{{ 'services/files/files/' + data.url }}">
                <label ng-hide="data.url != null && data.url.length > 0" class="color-darkred"><b>Sin Foto</b></label>
            </div>
            <div class="form-group">
                <label>Descripción</label> <br>
                <label class="color-darkred"><b>{{ data.description }}</b></label>
            </div>
            <hr class="separator">  
            <button type="button" class="btn btn-warning" ng-click="close()">Salir</button>
            <button type="button" class="btn btn-danger" ng-click="deleteProg()">Borrar</button>
        </form>
    </div>
</div>
