<div class="container">
    <div class="text-center">
        <h2>
            <span class="glyphicon glyphicon-user"></span> Administrador
        </h2>
    </div>
    <br>
    <hr class="separator">
    <br>
</div>

<div class="container">
    <button class="btn btn-menu" ng-class="getClass('news')" ng-click="currentPage = 'news'; loadNews()">Noticias</button>
    <button class="btn btn-menu" ng-class="getClass('programs')" ng-click="currentPage = 'programs'; loadProgs()">Programación</button>
    <button class="btn btn-menu" ng-class="getClass('comments')" ng-click="currentPage = 'comments'; loadComms()">Comentarios</button>
    <button class="btn btn-menu" ng-click="openChangePassword()">Cambiar contraseña</button>
    <button class="btn btn-menu" ng-click="logOut()">Salir</button>
</div>

<br>
<br>
<br>

<!-- Noticias -->
<div class="container" ng-show="currentPage == 'news'">
    <button class="btn btn-menu" ng-click="addNews()">Nueva noticia</button>
    <br>
    <br>
    <input type="text" class="form-control" placeholder="Filtrar..." ng-model="newsFilter">
    <br>
    <table class="table table-hover">
        <thead>
        <th>
            Noticia (Click para más detalles)
        </th>
        </thead>
        <tbody>
            <tr ng-repeat="newsStore in newsStore | filter:newsFilter" ng-click="showNew(newsStore)">
                <td>
                    {{ newsStore.title }}
                </td>
            </tr>
          
        </tbody>
    </table>
</div>
<!-- HORARIOS -->
<div class="container" ng-show="currentPage == 'programs'">
    <button class="btn btn-menu" ng-click="addProg()">Nuevo Horario</button>
    <br>
    <br>
    <input type="text" class="form-control" placeholder="Filtrar..." ng-model="pFilter">
    <br>
    <table class="table table-hover">
        <thead>
        <th class="col-sm-5">
            Programa
        </th>
        </thead>
        <tbody>
             <tr ng-repeat="hr in programsStore | filter:pFilter" ng-click="showProg(hr)">
                <td>
                   {{ hr.title }}
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Comentarios -->
<div class="container" ng-show="currentPage == 'comments'">
    <input type="text" class="form-control" placeholder="Filtrar..." ng-model="cFilter">
    <br>
    <table class="table table-hover">
        <thead>
        <th class="col-sm-1">
            Borrar
        </th>
        <th class="col-sm-2">
            Fecha
        </th>
        <th class="col-sm-2">
            Nombre
        </th>
        <th class="col-sm-3">
            Asunto
        </th>
        <th class="col-sm-4">
            Mensaje
        </th>
        </thead>
        <tbody>
             <tr ng-repeat="hr in commentsStore | filter:cFilter">
                <td>
                    <span class="glyphicon glyphicon-trash" ng-click="deleteComment(hr.idComm)"></span>
                </td>
                <td>
                   {{ hr.date }}
                </td>
                <td>
                     {{ hr.name }}
                </td>
                <td>
                     {{ hr.title }}
                </td>
                <td>
                     {{ hr.message }}
                </td>
            </tr>
           
        </tbody>
    </table>
</div>