<div class="width-100-pr"> 
	<img src="{{front_image}}" class="width-100-pr"/>
</div>
<div class="bg-whitesmoke">
	<div class="container">
		<div class="div-info">
			<div class="text-center">
				<img src="resource/logo.png"  class="img-front animated zoomIn">
			</div>
			<br/>
			<div class="fn-size-17px text-center">
				Somos un grupo de gente que apostamos a la libre expresión en un marco de libertad para llevar la autentica noticias a Casilda y la región. <br/>
				Nuestra opinión no se compra ni se vende solo se dice tal cual es.<br/>
				Nuestro norte es la verdad, nuestro objetivo la justicia, nuestro sueño que hablen todos sin distinción de razas, ideologías o religión.<br/>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="page-header">
		<h2>Últimas noticias</h2>
	</div>
</div>
<!-- news -->
<div class="container" ng-repeat="item in news">
	<div class="new-box">
		<img ng-if="item.picture" style="background-image: url('services/files/files/{{item.picture}}');">
		<label>{{ item.title }}</label> <br/>
		<label class="info">{{item.date}}</label>
		<p>
			{{item.message}}
		</p>
	</div>
</div>
