<div class="container">
	<div class="page-header">
		<h2>Nuestra programación</h2>
	</div>
	<div class="col-sm-6 no-padding">
		<input type="text" class="form-control" placeholder="Buscar...">
	</div>
</div>
<div class="container">
	<div class="program-box">
		<h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h4> <br/>
		<img style="background-image: url('resource/cc1.jpg');">N
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pellentesque
		augue id lectus lacinia mattis a non libero. Donec in nunc sagittis, gravida leo quis, pretium nisi. </p>
		<h5>De lunes a viernes 13hs!</h5>
	</div>
</div>
<div class="container">
	<div class="program-box">
		<h4>Aliquam a felis dapibus, placerat augue vel, aliquam lectus</h4> <br/>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pellentesque
		augue id lectus lacinia mattis a non libero. Donec in nunc sagittis, gravida leo quis, pretium nisi. </p>
		<h5>De lunes a viernes 13hs!</h5>
	</div>
</div>
<div class="container">
	<div class="program-box">
		<h4>Mauris maximus nisi nec gravida dictum</h4> <br/>
		<img style="background-image: url('resource/cc2.jpg');">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pellentesque
		augue id lectus lacinia mattis a non libero. Donec in nunc sagittis, gravida leo quis, pretium nisi. </p>
		<h5>De lunes a viernes 13hs!</h5>
	</div>
</div>
<div class="container">
	<div class="program-box">
		<h4>Suspendisse non ante quis metus lacinia porta</h4> <br/>
		<img style="background-image: url('resource/cc3.jpg');">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pellentesque
		augue id lectus lacinia mattis a non libero. Donec in nunc sagittis, gravida leo quis, pretium nisi. </p>
		<h5>De lunes a viernes 13hs!</h5>
	</div>
</div>