<div ng-controller="Programs">
	<div class="container">
		<div class="page-header">
			<h2>Nuestra programación</h2>
		</div>
		<div class="col-sm-6 no-padding">
			<input type="text" class="form-control" placeholder="Filtrar..." ng-model="filter">
		</div>
	</div>
	<div class="div-spacer-small"></div>
	<div class="div-spacer-small"></div>
	<div class="container" ng-repeat="program in programs | filter:filter">
		<div class="program-box">
			<label>{{program.title}}</label> <br/>
			<div class="div-spacer-small"></div>
			<img ng-if="program.picture" style="background-image: url('services/files/files/{{program.picture}}');">
			<p>{{program.description}} </p>
			<h5>{{program.time}}</h5>
		</div>
	</div>
</div>