<div class="container">
	<div class="page-header">
		<h2>Nuestra programación</h2>
	</div>
	<div class="col-sm-6 no-padding">
		<input type="text" class="form-control" placeholder="Filtrar...">
	</div>
</div>
<div class="div-spacer-small"></div>
<div class="div-spacer-small"></div>
<div class="container">
	<div class="program-box">
		<label>Lorem ipsum dolor sit amet, consectetur adipiscing elit</label> <br/>
		<div class="div-spacer-small"></div>
		<img style="background-image: url('resource/cc1.jpg');">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pellentesque
		augue id lectus lacinia mattis a non libero. Donec in nunc sagittis, gravida leo quis, pretium nisi. </p>
		<h5>De lunes a viernes 13hs!</h5>
	</div>
</div>
<div class="container">
	<div class="program-box">
		<label>Aliquam a felis dapibus, placerat augue vel, aliquam lectus</label> <br/>
		<div class="div-spacer-small"></div>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pellentesque
		augue id lectus lacinia mattis a non libero. Donec in nunc sagittis, gravida leo quis, pretium nisi. </p>
		<h5>De lunes a viernes 13hs!</h5>
	</div>
</div>
<div class="container">
	<div class="program-box">
		<label>Mauris maximus nisi nec gravida dictum</label> <br/>
		<div class="div-spacer-small"></div>
		<img style="background-image: url('resource/cc2.jpg');">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pellentesque
		augue id lectus lacinia mattis a non libero. Donec in nunc sagittis, gravida leo quis, pretium nisi. </p>
		<h5>De lunes a viernes 13hs!</h5>
	</div>
</div>
<div class="container">
	<div class="program-box">
		<label>Suspendisse non ante quis metus lacinia porta</label> <br/>
		<div class="div-spacer-small"></div>
		<img style="background-image: url('resource/cc3.jpg');">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pellentesque
		augue id lectus lacinia mattis a non libero. Donec in nunc sagittis, gravida leo quis, pretium nisi. </p>
		<h5>De lunes a viernes 13hs!</h5>
	</div>
</div>